.container {
  display: flex;
  flex-direction: row;
  width: 950px;
  height: 80px;
  background-color: #1E262F;
  border-radius: 10px;
  margin: 20px 0;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  width: 30%;
  height: 100%;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.name {
  position: relative;
  width: calc(100% - 10px);
  height: 50%;
  color: #FFFFFF;
  margin: 0 0 1px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.email {
  position: relative;
  width: calc(100% - 10px);
  height: 50%;
  color: #BDBCBE;
  margin: 1px 0 0 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

#top {
  position: absolute;
  width: 100%;
  top: 0;
}

#bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.contents {
  width: 18%;
  height: 100%;
  margin: 0 1%;
}

.content1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.CircularBar {
  height: 60px;
  width: 60px;
}

.targetsteps {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#line1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

#line2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #BDBCBE;
}

#line3 {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

#line4 {
  width: 100%;
  text-align: center;
  color: #BDBCBE;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

#line5 {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

#plus {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background: #101317;
}

#minus {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background: #101317;
}

.content2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calender {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.currentdate {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.scheduledate {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

#icon1 {
  margin-right: 10px;
}

#icon2 {
  margin-right: 15px;
}

.arrow {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

#arrow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #101317;
  border-radius: 8px;
  text-decoration: none;
  color: #FFFFFF;
}

.content3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.piechart {
  width: 60px;
  height: 60px;
}

.calorie {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.notification {
  height: 100%;
  width: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5%;
}

.bell {
  width: 40px;
  height: 40px;
  background-color: #36F5C7;
  color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=Style.module.css.map */